#container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#heading {
  opacity: 0;
}

#slide {
  z-index: 2;
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
  color: rgba(207, 207, 207, 0.807);
  font-size: 24px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards, slide 1s ease-in;
}

#send-btn {
  width: 40px;
  transition: all .1s ease-in-out;
}

#send-btn:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.9));
  transform: scale(1.15, 1.15);
}

#contact {
  font-family: 'Inconsolata', monospace;
  display:flex;
  position: fixed;
  top: 155px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 650px;
}

body {
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: rgb(248, 248, 248);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  overflow-x: hidden !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body:focus {
  outline: none !important;
}

.title-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 0px;
}

.logo-container {
  opacity: 0;
  display: flex;
  align-items: center;
  padding-bottom: 9px;
}

.logo {
  max-height: 100%;
  width: 78px;
}

ul#navbar {
  width: 650px;
  padding: 0 !important;
  margin: 5px auto 15px auto;
}

ul#navbar li {
  display:inline;
  padding: 0 8px;
}

form {
  display: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  height: calc(100% - 330px);
}

form p {
  margin: 0px;
}

textarea.message-contact {
  display: flex;
  font-size: 16px;
  min-height: 50px;
  height: 100%;
  margin: 50px auto 10px auto;
  width: 90%;
  height: 100%;
  resize: none;
  color: #FFF;
  background: transparent;
  border: none;
  border-bottom: 1px dashed rgba(238, 238, 238, 0.232);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 1s box-shadow;
  outline: none; 
}

.message-contact:hover {
  box-shadow: 0 0 20px rgba(251, 251, 251, 0.156);
}

#submit {
  font-family: 'Inconsolata', monospace;
  background: transparent;
  border: none;
  color: rgba(207, 207, 207, 0.807);
  font-size: 21px;
  animation:bouncy 5s infinite linear;
  transition: 2s;
  letter-spacing: -1px;
}

#submit:hover {
  text-shadow: 0 0 15px #7194ff, 0 0 15px #34fff5;
  color: rgb(99, 137, 253);
  cursor: pointer;
  transition:all .5s ease-in-out;
  transform: scale(1.1,1.1);
}

a {
  display: inline;
  text-decoration: none;
  position: relative;
  color:rgba(248, 248, 248, 0.8);
}

a::after{
  content: "";
  background: white;
	mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover::after{
	height: calc(100% + 8px)
}

.wordsClick {
  color: yellow;
  text-shadow: 0 0 15px rgba(255, 255, 0, 0.5), 0 0 30px rgba(255, 255, 0, 0.5);
  animation: move 2s linear infinite;
}

h1 {
  top: 10px;
  position: relative;
  font-family: 'Teko', sans-serif;
  color: #ffffff;
  letter-spacing: 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
}

h1::before, h1::after {
  content: "dyln.bk";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  z-index: -1;
  transition: 1s;
}

h1::before {
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgba(81, 150, 230, 0.869) 2px,
    rgba(73, 148, 239, 0.845) 4px
  );
  -webkit-background-clip: text;
  background-clip: text;
  }

h1::after {
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 2px,
    rgb(255, 255, 255) 2px,
    rgb(255, 255, 255) 4px
  );
  -webkit-background-clip: text;
  background-clip: text;
  }

h1:hover::before {
  top: 53%;
  left: 51%;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    rgba(84, 141, 214, 0.869) 2px,
    rgba(75, 128, 209, 0.845) 4px
  );
}

h1:hover::after {
  top: 47%;
  left: 49%;
  z-index: 2;
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 2px,
    rgb(68, 96, 143) 2px,
    rgb(0, 0, 0) 4px
  );
}

.content {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 650px;
  height: 95vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.line {
  position: fixed;
  top: 140px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  opacity: 1;
  gap: 5em;
  width: 0%;
  border-top: 1px solid rgba(157, 157, 157, 0.486);
  text-align: center;
  animation: line 1.5s linear forwards, fadeIn 2.5s ease-in-out forwards;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcbdbd24; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a99d474; 
}

pre, code {
  white-space: pre-wrap;
}

ul.chatbox {
  margin-bottom: 30px;
  padding-left: 0px !important;
  overflow-x: hidden !important;
}

.chatbot {
  display: block;
  user-select: text;
  position: relative;
  width: 100%;
  max-width: 700px;
  background: #ffffff00;
  border-radius: 15px;
  opacity: 1;
  transition: all 0.1s ease;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: calc(100% - 450px);
  padding: 30px 50px 100px 50px !important;
}

.chatbox .chat {
  display: flex;
  list-style: none;
}

.chatbox .outgoing {
  justify-content: flex-end;
}

.chatbox .incoming span {

  display: inline-block;
  color: #fff;
  font-size: 36px;
  cursor: default;
  text-align: justify;
  line-height: 38px;
  align-self: flex-end;
  background: #649aff00;
  border-radius: 4px;
  padding: 0 10px 5px 0;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 35px;
}

.chatbox .outgoing span {

  display: inline-block;
  color: #fff;
  font-size: 36px;
  cursor: default;
  text-align: justify;
  line-height: 38px;
  align-self: flex-end;
  background: #649aff00;
  border-radius: 4px;
  padding: 0 0 5px 10px;
  margin-right: 15px;
  width: 35px;
}

.chatbox .chat p {
  word-wrap: break-word;
  text-align: justify;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  padding: 15px 15px;
  line-height: 25px;
  border-radius: 10px 10px 0 10px;
  max-width: 100%;
  font-size: 0.95rem;
  color: #ffffff;
  background: #040404d3;
  border: solid 1px #cfcfcf5e;
  margin: 7px 0;
}

.chatbox .chat p.error {
  color: #ffffff;
  background: #040404a2;
  border: solid 1px #435a83;
}
.chatbox .incoming p {
  color: #ffffff;
  background: #040404d3;
  border: solid 1px #435a83;
  border-radius: 10px 10px 10px 0;
  text-align: justify;
}
.chatbot .chat-input {
  width: 100%;
  height: auto; 
  background: #121212e6;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.chatbot .chat-input:hover,
.chatbot .chat-input.clicked {
  outline: solid 2px #435a83;
  border-radius: 20px;
}

.chat-input textarea {
  background: transparent;
  color: #FFF;
  max-height: 20px;
  width: 90%;
  border: none;
  outline: none;
  resize: none;
  padding: 15px 15px 15px 15px;
  margin: auto;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 8px;
  transition: .5s ease-in-out;
}

.chat-input span {
  display: flex;
  font-family: 'Inconsolata', monospace;
  background: transparent;
  border: none;
  color: rgba(207, 207, 207, 0.807);
  font-size: 32px;
  transition: 2s;
  padding: 5px 15px 5px 15px;
  letter-spacing: -1px;
}

.chat-input span:hover {
  cursor: pointer;
  transition:all .5s ease-in-out;
}


.chatbox a {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(248, 248, 248);
}

/* Hover effect for links */
.chatbox a:hover {
  text-decoration: none;
}

.closebtn {
  font-size: 32px;
  display: none;
}

#closebtn {
  padding: 0px !important;
}

#toggle-button {
  display: none;
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: rgba(255, 255, 255, 0.325);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


@keyframes slideIn {
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes slide {
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}


@keyframes line {
  from {
    width: 0px;
  }

  to {
    left: 0%;
    width: 650px;
  }
}

@keyframes line-short {
  from {
    width: 0px;
  }

  to {
    left: 0%;
    width: 450px;
  }
}

@keyframes line-shorter {
  from {
    width: 0px;
  }

  to {
    left: 0%;
    width: 600px;
  }
}

@media (max-width: 800px) {

  #send-btn {
    width: 35px;
  }

  .chatbot .chatbox {
    height: calc(100% - 380px);
    padding: 0px 20px 100px 20px !important;
    margin-top: 50px;
  }

  .title-container {
    height: 100px;
  }

  h1 {
    font-size: 80px;
    letter-spacing: 4px;
    top: 12px;
  }

  #contact {
    max-width: 450px;
    width: 90%;
    top: 120px;
  }

  .chat-input textarea  {
    width: 85%;
    font-size: 0.85rem;
  }

  .line {
    max-width: 88%;
    top: 115px;
    animation: line-short 1.5s linear forwards, fadeIn 1.5s ease-in forwards;
  }

  .chatbox .incoming span {
    font-size: 30px;
    padding: 0 5px 5px 0;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 30px;
  }

  .chatbox .outgoing span {
    font-size: 30px;
    padding: 0 0 5px 5px;
    margin-right: 0px;
    width: 30px;
  }

  #slide {
    font-size: 22px;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
  }

  #navbar {
    width: 100% !important;
    display: none; /* Initially hiding the navbar */
    flex-direction: column;
    /* styling for animation */
    animation: fadeIn 1s ease-in-out, slide 0.5s ease-in-out;
    background-color: rgba(19, 19, 19, 0.97);
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 !important;
  }

  ul#navbar li {
    display: flex;
  }

  #toggle-button {
      display: block;
      top: 150px;
  }

  form {
    height: calc(100% - 290px);
  }

  .closebtn {
    display: block;
  }

}

@media (max-width: 380px) {

  form {
    height: calc(100% - 255px);
  }


  .chatbox .incoming span {
    font-size: 24px;
    width: 25px;
  }

  .chatbox .outgoing span {
    font-size: 24px;
    width: 25px;
  }

  .title-container {
    height: 80px;
  }

  h1 {
    font-size: 70px;
    letter-spacing: 4px;
    top: 10px;
  }

  #slide {
    font-size: 18px;
  }

  #contact {
    width: 90%;
    top: 100px;
  }

  .logo-container{
    padding-bottom: 5px;
  }

  .logo {
    max-height: 100%;
    width: 47px;
  }

  .chat-input textarea  {
    width: 85%;
  }

  .chatbot .chatbox {
    height: calc(100% - 360px);
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .line {
    max-width: 80%;
    top: 90px;
  }

  #toggle-button {
    top: 120px;
  }

  textarea.message-contact {
    margin-top: 35px;
  }
}

html {
  visibility: visible;
  opacity: 1;
}